:root {
    --pad-sizes: 1.5em; 
}
*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    padding: 0;margin: 0;
}
ul {
    list-style: none;
}